<div id="<%= dom_id lab_report %>">
  <br>

  <p>
    <strong>User:</strong>
    <%= lab_report.user.last_name %> <%= lab_report.user.first_name %> 
  </p>

  <p>
    <strong>Title:</strong>
    <%= lab_report.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lab_report.description %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= lab_report.grade %>
  </p>


</div>
