<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<table id="Users">
  <thead>
    <tr>
      <th>E-Mail</th>
      <th>Last name</th>
      <th>Firsr name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |users| %>
      <tr>
        <td><%= users.email %></td>
        <td><%= users.last_name %></td>
        <td><%= users.first_name %></td>
        <td><%= link_to "Show this user", users%> </td>
      </tr>      
      <% end %>
  </tbody>


</table> 

<%= link_to "New user", new_user_path %>
